.blog-menu{
    margin-top: 7rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; 
}
.blog-menu a{
    background-color: var(--light);
    padding:.5rem 2rem;
    color: var(--primary);    
    border-radius: .2rem;
    font-weight: bold;
    /* font-size: .9rem; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: .1s ease all;
}

.blog-menu a:hover{
    background-color: #f2f2f2;
    transform: scale(.98);
}
.blog-menu a.active{
    background-color: var(--primary);
    transform: scale(.98);
    color: var(--light);
}
.search-blog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-blog input{
    width: calc(100% - 6rem);
    border: 1px solid #ddd;
    outline: none;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    padding:.4rem 1rem;
    border-radius: .2rem 0 0 .2rem;
    font-size: .98rem;
    color: var(--mute);
    height: 2.3rem;
}
.search-blog input:focus{
    border-color: var(--primary);
}
.search-blog button{
    width: 6rem;
    height: 2.3rem;
    border:none;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    border-radius: 0 .2rem .2rem 0;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--light);
    /* font-size: .9rem; */
    font-weight: bold;
    transition: .1s ;
}
.search-blog button:hover{
    background-color: #1b6eaa;
    color: var(--light);
    border-color: var(--primary);
}

.blogs .u-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.blogs .u-container.pagi{
    margin-top: 1rem;
}
.blogs .u-container>div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: 300px;
    padding: 1rem;
}
.blog-header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.blog-body{
    padding-top: 1rem;
}
.blog-body .blog-title{
    font-weight: bold;
    line-height: 1.5rem;
}
.blog-body .blog-content{
    line-height: 1.5rem;
    /* font-size: .9rem; */
    padding: 1rem 0 0 0;
}
.blog img{
    width: 60%;
}
.blog h5,.blog p{
    margin:0;
    padding:0;
}
.blog-footer .read-more{
    /* font-size: .9rem; */
    padding: .4rem 1.25rem;
    background-color: var(--secondary);
    color: var(--light);
    font-weight: bold;
    border-radius: .2rem;
    transition: .2s;
}
.blog-footer .read-more:hover{
    background-color: #187c2f;
}

@media screen and (min-width:0px) and (max-width:768px) {
    .blogs .u-container>div{
        width: 100%;
    }
    .blog img{
        width: 80%;
    }
}